ul { margin-top: 20px;}
ul li {
   border-bottom: 38px solid #575757;
   border-left: 38px solid transparent;
   border-right: 38px solid transparent;
   height: 0;
   display: inline-block;
   margin: 0 -35px 0 0;
   padding: 0;
}
#icon > i{
    color: white;
}
ul li:hover {
 border-bottom: 38px solid rgb(186, 186, 186); 
}
li.active{
    border-bottom: 38px solid rgb(186, 186, 186);
   border-left: 38px solid transparent;
   border-right: 38px solid transparent;
   height: 0;
   display: inline-block;
   margin: 0 -35px 0 0;
   padding: 0;
}
li.active > a{
    color:black;
}
   #text:hover{
    color: white;
   }
ul li a {
    color: #fff;
    display: block;
    float: left;
    margin: 0;
    padding: 5px;
    text-decoration: none;
}
#text{
    text-decoration: none;
}
.container { margin-top: 30px; }

.right-to-left { margin-top: 30px; 
 text-align: right;}

.right-to-left li { float: right;
display: inline-block; float: none; }